<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Batha.id - Support Service</title>
    <link rel="stylesheet" href="assets/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div v-cloak id="app">
        <nav class="navbar" role="navigation" aria-label="main navigation" v-if="state != 'LOGIN_SCREEN'">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://batha.id" target="_blank">
                    <p class="title has-text-centered is-size-5 batha-logo disable-selection">&lt; batha.id &gt;</p>
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="#" class="navbar-item" v-on:click="showSendEmailScreen()">Send Email</a>
                    <a href="#" class="navbar-item" v-on:click="showUploadFileScreen()">Upload File</a>
                </div>
            </div>
        </nav>
        <!-- Login Screen -->
        <section class="section" v-if="state == 'LOGIN_SCREEN'">
            <div class="columns">
                <div class="column is-4 is-offset-4">
                    <h1 class="is-size-3 has-text-centered has-text-weight-medium">Login</h1>
                    <br>
                    <div class="container">
                        <div class="card">
                            <div class="card-content">
                                <form id="form_login" action="details.html" v-on:submit.prevent="doLogin()">
                                    <div class="field">
                                        <label class="label">Your Access Key:</label>
                                        <div class="control">
                                            <input id="access_key" class="input" type="text" v-model="access_key"
                                                placeholder="e.g eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..." autofocus
                                                required>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <input id="btn_login" type="submit" class="button is-fullwidth is-link"
                                                value="Login">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Send Email Screen -->
        <section class="section" v-if="state == 'SEND_EMAIL_SCREEN'">
            <div class="columns">
                <div class="column is-4 is-offset-4">
                    <h1 class="is-size-3 has-text-centered has-text-weight-medium">Send Test Email</h1>
                    <p class="has-text-centered">{{ email }}</p>
                    <br>
                    <div class="container">
                        <div class="card">
                            <div class="card-content">
                                <div class="content">
                                    <form id="form_email" action="#" v-on:submit.prevent="doSendEmail()">
                                        <div class="field">
                                            <label class="label">Body HTML</label>
                                            <div class="control">
                                                <textarea name="body_html" id="body_html" cols="30" rows="10"
                                                    v-model="send_email_page.body_html" class="textarea"
                                                    placeholder="e.g &lt;h1&gt;Hello World!&lt;h1&gt;"
                                                    required></textarea>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control">
                                                <input id="btn_email" type="submit" class="button is-fullwidth is-link"
                                                    value="Send Email">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>